
<!DOCTYPE html>
<html lang="en">
<head>
  <title>MENU</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="/css/style.css">
</head>
<body>

<div class="jumbotron text-center">
  <h1>TODAY WE BRING OUR LOCAL DISHES</h1>
  <p>YOU MAY BE CRAZY ABOUT TASTE THEM</p> 
</div>
  <div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h3>BEEF LUC LAC</h3>
      <p>beef luc lac is a French-inspired Vietnamese cuisine dish consisting of sauteed beef with cucumber, lettuce, tomatoes, red onion, bell pepper and soy sauce. The meat is cut into small cubes the size of a dice game before saute.</p>
      <h1><div class="container"><img src="luclac.png" alt="copyright" width=230" height="150">
</h1>
    </div>
    <div class="col-sm-4">
      <h3>FRIED VIETNAMIT NOODLES</h3>
      <p>We affirm that they will melt on your palate once in your mouth and you will surely ask us to repeat it and we will be delighted.</p>
    <h1><div class="container"><img src="friednoodles.png" alt="copyright" width=230" height="150">
</h1>
    </div>
</div>
    <div class="col-sm-4">
      <h3>Ha Qua Dam Macedonian Vietnamese</h3>        
      <p>Eating these fruits is a ritual among the Vietnamese: the glasses are served accompanied by a bowl full of crushed ice and a long spoon. Little by little the diners are pouring ice into the glass and with the spoon they push it so that it mixes with the fruit and milk. Thus, everything is very very cold, it is ingested and is refilled again as the glass runs out of ice. These glasses are known as Hoa qua dam and they are truly a delight</p>
<h1><div class="container"><img src="postre.png" alt="copyright" width=230" height="150">
</h1>
    </div>
  </div>
</div>

</body>
</html>